<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["WeatherApp.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script>
            window.getLocation = () => {
                return new Promise((resolve, reject) => {
                    navigator.geolocation.getCurrentPosition(
                        pos => resolve({ latitude: pos.coords.latitude, longitude: pos.coords.longitude }),
                        err => reject(err)
                    );
                });
            };
            window.setTitle = (title) => { document.title = title; }

            window.setTheme = (isDark) => {
                document.body.classList.toggle('dark', isDark);
                localStorage.setItem('theme', isDark ? 'dark' : 'light');
            }

        window.getTheme = () => localStorage.getItem('theme') === 'dark';
    </script>


    <script src="_content/Blazor-ApexCharts/js/blazor-apexcharts.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
